imports:
    - vendor/sylius/sylius/src/Sylius/Behat/Resources/config/suites.yml

default:
    extensions:

        FriendsOfBehat\SymfonyExtension:
            env_file: ~
            kernel:
                env: test
                debug: true
                class: Tests\BitBag\SyliusQuadPayPlugin\Application\Kernel
                path: tests/Application/Kernel.php
                bootstrap: ~

        Lakion\Behat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

    formatters:
        pretty:
            verbose: true
            paths: false
            snippets: false