.qp-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    margin: 0 0 10px 0;
}

.qp-descrip {
    margin-bottom: 4px;
}

.qp-descrip__price {
    font-weight: bold;
    margin-left: 2px;
}

.qp-quadpay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
}

.qp-quadpay__logo {
    width: 90px;
    margin: .15em 8px 0 6px;
    position: relative;
    bottom: -1px;
}

.qp-quadpay__learn:hover {
    text-decoration: underline;
}

.qp-quadpay--link {
    cursor: pointer;
}

.qp--nowrap {
    white-space: nowrap;
}

.quadpay-method.item .header img {
    width: 100%;
}

.quadpay-method.item .radio.checkbox {
    margin-top: 11px;
}
